<!-- <form class="forms_control" method="POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">Enter the number of Tickets</label>

    <input
      type="number"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Only Number is allowed"
    />
  </div>
</form> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/Main.css" />
    <link rel="stylesheet" href="../static/Cancel.css" />
  </head>
  <body>
    <div class="nav_bar">
      Railway Ticket Reservation System Portal (Ticket Booking)
    </div>
    <div class="container">
      <form class="forms_control"  method='POST'>
        <div class="boxes" id="three">Profile Updation</div>
         <!-- <div class="form-group">
              <label for="exampleFormControlInput1">Enter Number of Ticket</label>
              <input
                type="text"
                name="booking_val"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Only Number is allowed"
              />
            </div>
                  <div class="form-group">
              <label for="exampleFormControlInput1">Enter the ID of Ticket</label>
              <input
                type="text"
                name="booking_val"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Only Number is allowed"
              />
            </div> -->
             <form class="forms_control" action="/Profile"  method='POST'>
         
                  <div class="form-group">
              <label for="exampleFormControlInput1">Enter the new password</label>
              <input
                type="text"
                name="password_val"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Only Number is allowed"
              />
            </div>
                <a href="/Confirm">
          <div class="header">
      
            <button type="submit" id="confirm" style="background-color: #2ecc71;">Update Password</button>
         
          
          </div>
             </a>
        </div>
      </form>
          
             
        </div>
      </form>
    </div>
    <script src="../static/index.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
